* {
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222;
	background: #222;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 4px 16px;
	height: 45px;
	border: none;
}

button:hover {
	background-color: #333;
	background: #333;
}
